<div class="col-xs-12 col-sm-10">


    <div class="form-group">
        <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Show Speech List</button>
          </p>
      <textarea class="form-control" rows="10" id="comment">Speech content shown here</textarea>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Author">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject area keywords">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="date" class="form-control" placeholder="Date">
        </div>
      </div>  
    </div>
    
    <div class="pull-right">
        <button type="button" class="btn btn-default">Delete</button>
        <button type="button" class="btn btn-default">Save</button>
        <button type="button" class="btn btn-default">Share</button>
    </div>

</div>
